.group 			  {
  position:relative;
}
input 				{
  font-size: 1rem;
  padding:0.625em  0.625em 0.625em 0.3125em;
  display:block;
  width:100%;
  border:none;
  box-sizing: border-box;
  border-bottom:1px solid #757575;
}
input:focus {
  outline:none;
}

/* LABEL ======================================= */
label {
  font-family:'Arial';
  color:#999;
  font-size: 1rem;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:0.3125em;
  top:0.625em;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label 		{
  top:-20px;
  left: -2px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{
  position:relative;
  display:block;
}

.bar {
  &::before,
  &::after 	{
    background:#5264AE;
    bottom:1px;
    content:'';
    height:2px;
    position:absolute;
    transition:0.2s ease all;
    width:0;
  }

  &::before {
    left:50%;
  }

  &::after {
    right:50%;
  }
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
